name: Build and Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libraylib-dev libgl1-mesa-dev libx11-dev libxcursor-dev libxrandr-dev libxinerama-dev libxi-dev libxkbcommon-dev libwayland-dev

      - name: Build
        run: make

      - name: Rename binary for release
        run: mv BattleIA_App BattleIA_Linux_x64

      - name: Upload Release Artifact
        uses: softprops/action-gh-release@v1
        with:
          files: BattleIA_Linux_x64
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
